services:
  - type: web
    name: redeploy-backend-ai
    env: node
    plan: free
    rootDir: backend-ai/backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: BREVO_API_KEY
        sync: false
      - key: SENDER_EMAIL
        sync: false
      - key: FRONTEND_URL
        value: https://docu-sphere-ai.vercel.app
